<div *ngIf="viewMode; else editable">
    <div *ngIf="currentNservice.id">
      <h4>Nservice</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentNservice.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentNservice.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentNservice.published ? "Published" : "Pending" }}
      </div>
      <a
        class="btn btn-warning"
        routerLink="/nservices/{{ currentNservice.id }}"
      >
        Edit
      </a>
    </div>
    <div *ngIf="!currentNservice">
      <br />
      <p>Please click on a Nservice...</p>
    </div>
  </div>
  <ng-template #editable>
    <div *ngIf="currentNservice.id" class="edit-form">
      <h4>Nservice</h4>
      <form>
        <div class="form-group mb-3">
          <label for="title" class="mb-2">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentNservice.title"
            name="title"
          />
        </div>
        <div class="form-group mb-3">
          <label for="description" class="mb-2">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentNservice.description"
            name="description"
          />
        </div>
        <div class="form-group mb-5">
          <label><strong>Status:</strong></label>
          {{ currentNservice.published ? "Published" : "Pending" }}
        </div>
      </form>
      <button
        class="btn btn-primary me-2 mb-2"
        *ngIf="currentNservice.published"
        (click)="updatePublished(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentNservice.published"
        class="btn btn-primary me-2 mb-2"
        (click)="updatePublished(true)"
      >
        Publish
      </button>
      <button class="btn btn-danger me-2 mb-2" (click)="deleteNservice()">
        Delete
      </button>
      <button
        type="submit"
        class="btn btn-success mb-2"
        (click)="updateNservice()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentNservice.id">
      <br />
      <p>Cannot access this Nservice...</p>
    </div>
  </ng-template>